DROP FUNCTION IF EXISTS public.get_leaderboard(text, int);

CREATE OR REPLACE FUNCTION public.get_leaderboard(p_game_id text, p_limit int DEFAULT 10)
RETURNS TABLE (user_id uuid, username text, avatar_url text, best_score int)
LANGUAGE sql STABLE SECURITY DEFINER AS $$
  SELECT s.user_id, p.username, p.avatar_url, MAX(s.score)::int AS best_score
  FROM public.scores s
  JOIN public.profiles p ON p.id = s.user_id
  WHERE s.game_id = p_game_id
  GROUP BY s.user_id, p.username, p.avatar_url
  ORDER BY best_score DESC, public.get_user_xp(s.user_id) DESC
  LIMIT p_limit;
$$;
